/* PAGE SIZING/STYLING */
body, html {
  color: #f9f9f9;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  background-image: url('/images/background-images/background-MAINPAGE.jpg');
  background-size: cover;
}
#landing-page{
  height: 100vh;
  background-size: cover;
  background-position: top left;
}
#positioner{
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}
#landing-text{
  padding: 5px;
}
#main-message{
  font-size: 50px;
  font-weight: bold;
}
.tinycon{
  height: 25px;
  width: 25px;
  margin: 3px;
}
p{
  font-size: 24px;
}
#refresh-text {
  color: #333;
}

/* NAVBAR - HEADER */
nav {
  height: 100px;
  padding: 30px;
}
#nav-logo {
  height: 40px;
}
#nav-form{
  float: right;
  padding-top: 4px;
  width: 300px;
}

/* CURRENT WEATHER SECTION */
#current-weather{
  text-align: center;
}
#tempLg {
  font-size: 150px;
  line-height: .9em;
  font-weight: bold;
  padding: 5px 0 10px 0;
}
#deg-f{
  font-size: 50px
}

/* FORECAST SECTION */
.forecast-cells{
  padding: 30px;
  color: #333;
  background-color: #f9f9f9;
  margin-top: 20px;
}
.forecast-image{
  width: 160px;
  height: 125px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px){
  #nav-logo-div, #nav-form{
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  body, html{
    background-image: none;
  }
  #current-weather{
    background-image: url('/images/background-images/background-MAINPAGE.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    text-align: left;
  }
  #main-message{
    font-size: 80px;
  }
  #forecast {
    margin-top: -100px;
  }
  #tempLg {
    font-size: 125px;
  }
  #deg-f{
    font-size: 35px
  }
  p{
    font-size: 18px;
  }
  #current-conditions {
    padding-left: 45px;
  }
  .forecast-cells{
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 992px){
  #tempLg {
    font-size: 160px;
  }
  #deg-f{
    font-size: 42px
  }
  p{
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px){
  #tempLg {
    font-size: 180px;
  }
  #deg-f{
    font-size: 50px
  }
  p{
    font-size: 24px;
  }
}