p{
  font-size: 24px;
}
#current-weather{
  text-align: center;
}

#refresh-text {
  color: #333;
}

.forecast-cells{
  padding: 20px;
  color: #333;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

/* PAGE SIZING/STYLING */
body, html {
  color: #f9f9f9;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  background-image: url('/images/background-MAINPAGE.jpg');
  background-size: cover;
}
#landing-page{
  height: 100vh;
}
#positioner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* NAV STUFF */
nav {
  height: 100px;
  padding: 30px;
}
#nav-logo {
  height: 40px;
}
#nav-form{
  float: right;
  padding-top: 4px;
  width: 200px;
}


#tempLg {
  font-size: 180px;
  line-height: .9em;
  font-weight: bold;
  padding: 5px 0 10px 0;
}
#deg-f{
  font-size: 50px
}

@media screen and (min-width: 768px){
  body, html{
    background-image: none;
  }
  #current-weather{
    background-image: url('/images/background-MAINPAGE.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    text-align: left;
  }
  #forecast {
    margin-top: -75px;
  }
  #tempLg {
    font-size: 125px;
  }
  #deg-f{
    font-size: 35px
  }
  p{
    font-size: 18px;
  }
  #current-conditions {
    padding-left: 45px;
  }
  .forecast-cells{
    box-shadow: 2px 2px 3px #dddddd;
  }
}

@media screen and (min-width: 992px){
  #tempLg {
    font-size: 160px;
  }
  #deg-f{
    font-size: 42px
  }
  p{
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px){
  #tempLg {
    font-size: 180px;
  }
  #deg-f{
    font-size: 50px
  }
  p{
    font-size: 24px;
  }
}