/* FIRST SECTION - CURRENT WEATHER CONDITIONS */
#current-weather {
  height: 40vh;
  border: solid 4px yellow;
}
#current-temp, #current-conditions {
  border: solid 4px red;
  height: 100%;
  width: 50%;
}

/* SECOND ROW - 3 DAY FORECAST */
#forecast{
  height: 40vh;
  border: solid 4px black;
}
.forecast-cells{
  height: 100%;
  border: solid 4px green;
}



/* PAGE SIZING/STYLING */
body, html {
  
}
#landing-page{
  height: 100vh;
}
#positioner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* NAV STUFF */
nav {
  background-color: red;
  height: 60px;
  padding: 12px;
  border-bottom: solid 4px blue;
}
.form-group {
  width: 200px;
  margin-right: 5px;
}
#brand-image {
  height: 100%;
  float: left;
}